<% if orders.any? %>
	<div>
		<h2>Orders: </h2>
		<table border ="1" class="table table-striped" style="width: 500px; text-align: center">
			<thead>
				<th>ID</th>
				<th>Client</th>
				<th>Total</th>
				<th>Quantity</th>
				<th>Fecha inicio</th>
				<th>Fecha final</th>
			</thead>
			<tbody>
				<%= render orders %>
			</tbody>
		</table>
	</div>
<% else %>
	<p style="font-size: 30px"><em>No hay orders.</em></p>
<% end %>
