<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= @autor.name %>, You have made a new rent!</h1>
    <p>Book: <%=autor.find_by(id: @order.book_id).title%></p>
    <p>Quantity: <%=@order.total%></p>
  </body>
</html>
